    .navbar {
        background: #FD8B98;
    }
    
    .card-body {
        background-color: #FD8B98;
    }
    
    .card {
        margin-top: 50px;
    }
    
    label {
        font-size: 20px;
    }
    
    .logo {
        z-index: 10;
    }
    
    .container {
        display: flex;
        flex-direction: row;
    }
    
    .tab1 {
        margin-left: 100px;
    }
    
    #login-tab {
        margin-right: 300px;
        font-size: 25px;
    }
    
    #register-tab {
        font-size: 25px;
    }